* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 466px;
    height: 456px;

    display: flex;
    flex-direction: column;
}

.body h1 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.01em;
}

.body p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.img-box {
    background: rgba(56, 56, 248, 0.712);

    width: 466px;
    height: 306px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-box button {
    width: 130px;
    height: 50px;
}

h1 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.01em;
    
    color: #151620;
    
    margin-top: 12px;
}

p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    
    color: #151620;
    
    margin-top: 7px;
}

