* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: #151620;
    width: 380px;
    height: 395px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin-top: 53px;
}

h1 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #E2E2E5;
    
    margin-top: 34px;
}

p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    color: #8A8A8F;

    margin-top: 52px;
}