* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(24, 25, 35);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1366px;
}

.gradient1 {
  display: flex;
  position: fixed;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 0;
  background: rgb(201,17,81);

  right: -20%;
  top: -20%;

  filter: blur(150px);
  -webkit-filter: blur(150px);
  opacity: 0.7;
}

.gradient2 {
  display: flex;
  position: fixed;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 0;
  background: rgb(44,52,227);

  left: -20%;
  bottom: -20%;

  filter: blur(180px);
  -webkit-filter: blur(180px);
  opacity: 0.5;
}


.head-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 95px;
  margin-left: 73px;
  align-items: center;
  gap: 237px;
  z-index: 1;
}

.head-wrapper img {
  width: 472px;
  height: 472px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.text-wrapper button {
  margin-top: 21px;
  width: 150px;
  height: 38px;
}

.text-wrapper h1 {
      font-family: 'Heebo', sans-serif;
      font-weight: 700;
      font-size: 70px;
      line-height: 103px;
      letter-spacing: 0.01em;
      color: #E2E2E5;
}

.text-wrapper p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 275;
  font-size: 35px;
  line-height: 52px;
  letter-spacing: 0.01em;
  color: #D5D5DB;
}

.text-wrapper h1 span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
  color: #D5D5DB;
}

.text-wrapper p span {
  font-weight: 500;
}

.section-wrapper {
  z-index: 1;
}

.section-wrapper h2 {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  text-align: left;
  color: #E2E2E5;
}

.section-wrapper h3 {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #E2E2E5;
}

.section-wrapper p {
  width: 567px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #F4F4F4;
}